<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

    <title>Home</title>
</head>

<body>
    <h1>Pagina HOME del sito</h1>
    <h3>Ciao <%= client_name%> benvenuto nel nostro sito!</h3>
    <br>
    <h3>Lista dei player attualmente online</h3>
    <ul>
        <% for(var player of players) { %>      
            <li><%= player.name%></li>         
        <% } %>
    </ul>
    <br><br>
    <h3><a href="<%= play_link%> ">Clicca qui</a> per iniziare a giocare anche tu!</h3>