<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

    <title>Home</title>
</head>

<body>
    <h1 class="text-center">Pagina HOME del sito</h1>
    <br>
    <h3>Numero di giocatori online: <%= players.numero %><h3>
    <h3><a href="<%=pagina_login%>"> Clicca qui</a> per iniziare a giocare anche tu!</h3>
    <h3>Lista dei player attualmente online</h3><%=players.numero %>
    <ul class="list-group">
        <% for(var player of players) { %>      
            <li class="list-group-item"><%= player.name%></li>         
        <% } %>
    </ul>
    <br>
</body>
</html>