<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

    <title>Join a room</title>
</head>

<body>
    <h1>Pagina JOIN ROOM del sito</h1>
    <br>
    <h3>Scelta per la room</h3>
    <h2>Crea una nuova room</h2>
    <form action="<%= createRoom_link %>" method='POST'>
        <input type="password" size=20 placeholder="Insert your password">
        <input type="submit" value="invia">
    </form>

    <h2>Accedi ad una room</h2>
    <form action="<%= joinRoom_link %>" method='POST'>
        <input type="text" size=20 maxlength="4" name="id" placeholder="Room ID">
        <input type="password" size=20 name ="password" placeholder="Insert room password">
        <input type="submit" value="invia">
    </form>
    <br><br>
    </form>
    <br><br>
    </form>
    <br><br>
</body>

</html>